<%- include('./partials/homeHeader.ejs') %> 
<form action="/profile" method="POST">
    <section class="course_details_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                    <div class="main_image">
                        
                        <img class="img-fluid" src="img/tutors/chu.jpg" alt="" width="300px" height="300px">
                    </div>
                    <div class="content_wrapper">
                       
                    
                        <h4 class="title">Profile</h4>
                        <div class="content">
                            
                            <% locals.school %> </div>
                    </div>
                </div>


                <div class="col-lg-4 right-contents">
                    <ul>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p> Name</p>
                                <span class="or"><%- locals.firstName %><% locals.lastName %></span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Course </p>
                                <span><% locals.course %></span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Year </p>
                                <span><%- locals.selectYear %></span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Degree</p>
                                <span><%- locals.selectDegree %></span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Status </p>
                                <span><%- locals.accountType %></span>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="primary-btn2 text-uppercase enroll rounded-0 text-white">Edit Profile</a>
                
          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

