<%- include('./partials/homeHeader.ejs') %> 

<body>
    <section> 
    <div class="popular_courses">
    <div class="container">
        <form action="/tutors/:title" method="GET">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
               
                <div class="row">
                    <div class="col text-center"><br> <br><br>
                        <h2><p class="text-h3">Tutor Details </p></h2>
                        <% tutors.forEach(tutor => { %>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col text-center">
                        <p><img src="<%= tutor.picture %>" width="300" height="200" /> </p>
                    </div>
                    <div class="form-group col-md-12">
                       <h4> <p>Title: <%= tutor.title %></p></h4>
                    </div>
                    <div class="form-group col-md-12">
                        <p>Rate: <%= tutor.rate %></p>
                    </div>
                    <div class="form-group col-md-12"></div>
                        <p>Description: <%= tutor.description %></p>
                    </div><br>
                    <% }) %>
                    <div class="col text-right">
                    <a href="/home" class="primary-btn2 mb-3 mb-sm-0">Back</a>
                    <a href="/login" class="primary-btn ml-sm-3 ml-0">Apply </a>
                    </div>
                </div>
            </div>               
        </div>
    </div>
    </div>
    </section>
</body>